#form
{
	background-color:rgba(255,255,255,0.35);
	margin: auto;
    width: 75%;
	margin-top: 80px;
	border: 3px solid rgb(233,233,233);
    padding: 10px;
}
.txthgt{
	height:42px;
}
.conval{
	font-size: 15px;
	float: right;
}
.condet{
	padding-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
	font-weight:bold;
}
.con{
	font-size: 15px;
	font-weight:bold;
}
#option
{
	background-color:rgba(255,255,255,0.35);
	margin: auto;
    width: 90%;
	margin-top: 10px;
	border: 3px solid rgb(233,233,233);
    padding: 10px;
}
#myPopup-popup{
	width: 50%;
}
#con
{
	background-color:rgba(255,255,255,0.35);
	margin: auto;
    width: 90%;
	margin-top: 10px;
	border: 3px solid rgb(233,233,233);
    padding: 10px;
}
#ot
{
	background-color:rgba(255,255,255,0.35);
	margin: auto;
    width: 90%;
	margin-top: 10px;
	border: 3px solid rgb(233,233,233);
    padding: 10px;
}
#trs
{
	background-color:rgba(255,255,255,0.35);
	margin: auto;
    width: 90%;
	margin-top: 10px;
	border: 3px solid rgb(233,233,233);
    padding: 10px;
}
#trf
{
	background-color:rgba(255,255,255,0.35);
	margin: auto;
    width: 90%;
	margin-top: 10px;
	border: 3px solid rgb(233,233,233);
    padding: 10px;
}
.bar1
{
height:30px;
margin: 6px;
}
#bar
{
width: 76px;
height: 64px;
}
#login
{
	width:100%;
	background-color: #8AC007;	
    height: 30.7969px;
	padding: 4px;
    font-weight: bold;
	color:white;
	text-shadow: none;
}
#next
{
	background-color: #8AC007;	
    height: 45px;
    font-weight: bold;
	color:white;
	text-shadow: none;
	position: absolute;
    bottom: 0px;
    width: 100%;
}
#home1
{
	background-color: #8AC007;	
    height: 45px;
    font-weight: bold;
	color:white;
	text-shadow: none;
	position: absolute;
    bottom: 0px;
    width: 100%;
}
#home2
{
	background-color: #8AC007;	
    height: 45px;
    font-weight: bold;
	color:white;
	text-shadow: none;
	position: absolute;
    bottom: 0px;
    width: 100%;
}
#next1
{
	background-color: #8AC007;	
    height: 45px;
    font-weight: bold;
	color:white;
	text-shadow: none;
	position: absolute;
    bottom: 0px;
    width: 100%;
}
#next2
{
	background-color: #8AC007;	
    height: 45px;
    font-weight: bold;
	color:white;
	text-shadow: none;	
	position: absolute;
    bottom: 0px;
    width: 100%;
}
#scan
{
	background-color: #8AC007;
    font-weight: bold;
	color:white;
	text-shadow: none;
}
.logo
{
	background-image:url(../images/logo7.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:43.5px;
}
.alert
{
	padding-left: 0Px;
    color: red;
    text-shadow: none;
    font-size: 12px;	
    font-weight: bold;
}
#main
{
	background-image:url(../images/image4.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
#myPanel1
{
	background-color:rgb(1,114,216)
}
#myPanel1 a{
	background-color: rgb(1,114,216);
	color:white;
    text-shadow: none;
}
#myPanel2
{
	background-color:rgb(1,114,216)
}
#myPanel2 a{
	background-color: rgb(1,114,216);
	color:white;
    text-shadow: none;
}
#myPanel3
{
	background-color:rgb(1,114,216)
}
#myPanel3 a{
	background-color: rgb(1,114,216);
	color:white;
    text-shadow: none;
}
#myPanel4
{
	background-color:rgb(1,114,216)
}
#myPanel4 a{
	background-color: rgb(1,114,216);
	color:white;
    text-shadow: none;
}
#myPanel5
{
	background-color:rgb(1,114,216)
}
#myPanel5 a{
	background-color: rgb(1,114,216);
	color:white;
    text-shadow: none;
}
#myPanel6
{
	background-color:rgb(1,114,216)
}
#myPanel6 a{
	background-color: rgb(1,114,216);
	color:white;
    text-shadow: none;
}
#myPanel7
{
	background-color:rgb(1,114,216)
}
#myPanel7 a{
	background-color: rgb(1,114,216);
	color:white;
    text-shadow: none;
}
.ui-btn-icon-left:after {
    background-color: rgb(1,114,216);
}
.ui-icon-user:after {
    background-color: #8AC007;
}
.ui-icon-power:after {
    background-color: rgb(1,114,216);
	border-color: rgb(1,114,216);
}
.transfer{
	padding-left:50px;
}
a.ui-btn{
	vertical-align:middle;
}